@font-face {
    font-family: 'cera-pro-l';
    src: url('CeraPRO-Light.woff2') format('woff2'),
        url('CeraPRO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

